/* Variables */
:root {
   --main-dark-color: #2C2830;
   --main-gray-color: #837D88;
   --main-purple-color: #2D2641;
   --main-light-blue-color: #96A9C6;
   --main-link-weight: 700px;
   --main-text-size: 16px;
}